<!DOCTYPE html>
<html class="has-navbar-fixed-top is-fixed-bottom">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <title>{% block title %}{%  if filteredSite %}{{ filteredSite.name }} :: {% endif %}rDig - *Dig reloaded{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
<script defer src="{{ asset('build/manifest.js') }}"></script>
<script defer src="{{ asset('build/vendor.js') }}"></script>
<script defer src="{{ asset('build/app.js') }}"></script>
</html>
